table, th, td { 
	border: 5px solid black;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
	text-align: center;
	font-size: 15pt
}

h1 {
	text-align: center;
}

div {
	text-align: center
}
	